{% extends 'base.html' %}

{% block title %}Página de inicio{% endblock %}

{% block content %}
    <h1>Bienvenido a la aplicación DSSD</h1>

    {% if usuario %}

        <h2>✅ Proyectos Ejecutados</h2>
        {% if proyectos_ejecutados %}
            <ul>
                {% for proyecto in proyectos_ejecutados %}
                    <li>{{ proyecto.nombre }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No hay proyectos ejecutados.</p>
        {% endif %}

        <h2>⚙️ Proyectos en Proceso</h2>
        {% if proyectos_proceso %}
            <ul>
                {% for proyecto in proyectos_proceso %}
                    <li>{{ proyecto.nombre }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No hay proyectos en proceso.</p>
        {% endif %}

        <h2>🕒 Proyectos No Iniciados</h2>
        {% if proyectos_no_iniciados %}
            <ul>
                {% for proyecto in proyectos_no_iniciados %}
                    <li>{{ proyecto.nombre }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No hay proyectos pendientes.</p>
        {% endif %}
    {% else %}
        <p>Para ver tus proyectos debes <a href="{% url 'login_user' %}">iniciar sesión</a>.</p>
    {% endif %}
{% endblock %}
