{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
  <h2>Crear Proyecto</h2>
  <form method="post">
    {% csrf_token %}
    <div class="card p-3 mb-3">
      <h4>Datos del Proyecto</h4>

      <!-- Campo oculto: estado por defecto -->
      <input type="hidden" name="estado" value="Proceso">

      {{ proyecto_form.as_p }}
    </div>

    <button type="submit" name="cargar_etapas" class="btn btn-secondary">
      Cargar Etapas
    </button>
  </form>
</div>
{% endblock %}
