{% extends "base.html" %}

{% block title %}Perfil de {{ usuario.nombre }}{% endblock %}

{% block content %}
<h2>Perfil de {{ usuario.nombre }} {{ usuario.apellido }}</h2>
<p>Email: {{ usuario.email }}</p>
<p>Edad: {{ usuario.edad }}</p>

{% if consejo %}
    <p>Consejo Directivo: {{ consejo.nombre }}</p>
{% else %}
    <p>No pertenece a ningún Consejo Directivo.</p>
{% endif %}

{% if ong %}
    <h3>ONG a la que pertenece:</h3>
    <p>{{ ong.nombre }}</p>
{% else %}
    <p>No pertenece a ninguna ONG.</p>
{% endif %}


{% endblock %}
