<!-- templates/avanzar_instancia.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Avanzar Instancia</title>
</head>
<body>


<h1>Llenar Datos del Proceso</h1>
    <form method="post">
        {% csrf_token %}
        <label>Nombre:</label>
        <input type="text" name="nombre" required><br><br>

        <label>Descripción:</label>
        <input type="text" name="descripcion"><br><br>

        <button type="submit">Avanzar Instancia</button>
    </form>
</body>
</html>
