{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">DSSD</a>

    <div class="d-flex">
      {% if user_name %}
        <span class="navbar-text me-2">Hola, {{ user_name }}</span>
        <a class="btn btn-outline-light me-2" href="{% url 'perfil' %}">Ver Perfil</a>
        <a class="btn btn-outline-danger" href="{% url 'logout' %}">Cerrar Sesión</a>
      {% else %}
        {% if request.path == '/' %}
          <a class="btn btn-outline-light me-2" href="{% url 'login' %}">Iniciar Sesión</a>
        {% else %}
          <a class="btn btn-outline-light me-2" href="{% url 'home' %}">Home</a>
        {% endif %}
      {% endif %}
    </div>
  </div>
</nav>
